@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-dark text-gray;
}

.container {
  @apply max-w-7xl mx-auto px-2 md:px-4;
}

.button {
  @apply h-5 bg-orange hover:bg-orange-dark hover:text-white transition-all text-gray-darker text-center justify-center items-center px-2 inline-flex font-medium;
}

.button-outline {
  @apply h-5 border-2 border-orange text-center justify-center text-orange items-center px-2 inline-flex font-medium;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.styled-list li {
  @apply relative pl-2 mt-1 leading-5;
}

.styled-list li::before {
  @apply w-1 h-1 flex-none bg-gray-light mr-2 block absolute left-0 top-1;

  content: "";
}

.input-field {
  @apply border outline-none focus:shadow-orange focus:shadow-center focus:border-orange text-white placeholder:text-gray py-3 w-full text-base pl-3 bg-transparent;
}

.has-background {
  @apply py-1 px-2;
}

.has-white-color {
  @apply text-white;
}
